<div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
            <p>Welcome to Park here</p>
            <br>
            <button [routerLink]="['/parkings']">
                <p>Find Parking spots</p>
            </button>
            <br>
            <br>
            <button class="auth" [routerLink]="['/auth/login']">Log In</button>
            <button class="auth" [routerLink]="['/auth/register']">Sign Up</button>
        </mat-card-content>
    </mat-card>
</div>