<!-- <div *ngFor="let breed of allBreeds">
      <h4>{{breed}}</h4> 
  </div> -->
  <div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="photo"></div>
            <h1>About us</h1>
            <p>We exist to make yor everyday life easier in a few clicks. No more rushing or being late anywhere while searcching for your nearest parking spot. Join us and discover the joys of having your-only 24/7 available vehicle spot.</p>
        </mat-card-content>
    </mat-card>
</div>