.main-card {  
    color: #fff;
    background-image: url("../../../assets/bg3.png");  
    background-size: 100%;  
    background-size: cover;  
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 200px;
}  

.example-card {
    max-width: 800px;
    margin-top: 160px;  
    margin-bottom: 300px;
    background-color: #ffffff;
    padding: 50px 100px 50px 100px;
    mat-card-content {
        text-align: center;
        p {
            margin: 20px 0 20px 0;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: xx-large;
            margin: 0 0 0 0;
        }
    }
}

.video {  
    height: 460px;
    margin-top: 20px;
    color: #fff;
    background-size: 100%;  
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
} 