<div class="toolbar" role="banner">
  <img src="../assets/parkinghereicon.png" class="images">
  <div class="spacer"></div>
  <ul>
    <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
    <li><a routerLink="/auth/register" routerLinkActive="active">REGISTER</a></li>
    <li><a routerLink="/auth/login" routerLinkActive="active">LOG IN</a></li>
    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">MY PROFILE</a></li>
    <li><a routerLink="/help" routerLinkActive="active">HELP</a></li>

  </ul>
  <a routerLinkActive="active"><img src="../assets/united-kingdom.png" alt="EN" width="32px" height="32px"></a>
</div>

<div id="footer">
  <div class="images">
  </div>
</div>
<router-outlet></router-outlet>